

<html>
    <body>
      <div class="area"></div>
      <nav class="main-menu">
        <ul>      
          <li>
            <br/>
            <br/>
            <br/>
            <a href="/homev">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                Principal
              </span>
            </a>
          </li>
          <br/>
          
        
          <li class="has-subnav">
            <a href="/servicio">
              <i class="fa fa-folder-open fa-2x"></i>
              <span class="nav-text">
                Crear Servicio
              </span>
            </a>
    
          </li>
          <br/>    
          <li class="has-subnav">
            <a href="/verserviciov">
              <i class="fa fa-folder fa-2x"></i>
              <span class="nav-text">
                Soicitados
              </span>
            </a>
          </li>
          <br/>
          <li class="has-subnav">
            <a href="/verservicioc">
              <i class="fa fa-folder fa-2x"></i>
              <span class="nav-text">
                Creados
              </span>
            </a>
          </li>
          <br/>
          <li>
            <a href="/perfil">
              <i class="fa fa-user fa-2x"></i>
              <span class="nav-text">
                 Perfil
              </span>
            </a>
          </li>    
             
        </ul>
        <ul class="logout">
          <li>
            <a href="/login">
              <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                Logout
              </span>
            </a>
          </li>
        </ul>
      </nav>
    
    
    
    
    </body>
    </html>
 
    
<br/>
<div class="alert alert-success" role="alert">
    Tabla de Servicios solicitados
  </div>

  <div class="search-bar" style="margin-left: 8%;">
    <input type="text" placeholder="Buscar..."> <i type="button" id="palabra" ></i>

  </div>

<div class="table-wrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Codigo de servicio</th>
          <th>Nombre</th>
          <th>Descripcion 3</th>
          <th>Fechas</th>
          <th>Precio Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row 1 Content 1</td>
          <td>Row 1 Content 2</td>
          <td>Row 1 Content 3</td>
          <td>Row 1 Content 4</td>
          <td>Row 6 Content 4</td>
        </tr>
        <tr>
          <td>Row 2 Content 1</td>
          <td>Row 2 Content 2</td>
          <td>Row 2 Content 3</td>
          <td>Row 2 Content 4</td>
          <td>Row 6 Content 4</td>
        </tr>
        <tr>
          <td>Row 3 Content 1qqqqqqqqqqqqqqqqqqqqqqqqqqqq</td>
          <td>Row 3 Content 2</td>
          <td>Row 3 Content 3</td>
          <td>Row 3 Content 4</td>
          <td>Row 6 Content 4</td>
        </tr>
        <tr>
          <td>Row 4 Content 1</td>
          <td>Row 4 Content 2</td>
          <td>Row 4 Content 3</td>
          <td>Row 4 Content 4</td>
          <td>Row 6 Content 4</td>
        </tr>
        <tr>
          <td>Row 5 Content 1</td>
          <td>Row 5 Content 2</td>
          <td>Row 5 Content 3</td>
          <td>Row 5 Content 4</td>
          <td>Row 6 Content 4</td>
        </tr>
        <tr>
          <td>Row 6 Content 1</td>
          <td>Row 6 Content 2</td>
          <td>Row 6 Content 3</td>
          <td>Row 6 Content 4</td>
          <td>Row 6 Content 4</td>
        </tr>
        
      </tbody>
    </table>
  </div>

