


   
      <div class="area"></div>
      <nav class="main-menu">
        <ul>      
          <li>
            <br/>
            <br/>
            <br/>
            <a href="/homev">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                Principal
              </span>
            </a>
          </li>
          <br/>
          
        
          <li class="has-subnav">
            <a href="/servicio">
              <i class="fa fa-folder-open fa-2x"></i>
              <span class="nav-text">
                Crear Servicio
              </span>
            </a>
    
          </li>
          <br/>    
          <li class="has-subnav">
            <a href="/verserviciov">
              <i class="fa fa-folder fa-2x"></i>
              <span class="nav-text">
                Soicitados
              </span>
            </a>
          </li>
          <br/>
          <li class="has-subnav">
            <a href="/verservicioc">
              <i class="fa fa-folder fa-2x"></i>
              <span class="nav-text">
                Creados
              </span>
            </a>
          </li>
          <br/>
          <li>
            <a href="/perfil">
              <i class="fa fa-user fa-2x"></i>
              <span class="nav-text">
                 Perfil
              </span>
            </a>
          </li>    
             
        </ul>
        <ul class="logout">
          <li>
            <a href="/login">
              <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                Logout
              </span>
            </a>
          </li>
        </ul>
      </nav>
    
    
    

   
 
    
<br/>
<div class="alert alert-success" role="alert">
    Tabla de Servicios solicitados
  </div>

  <div class="search-bar" style="margin-left: 8%;">
    <input type="text" placeholder="Buscar..." [(ngModel)]="term"> <i type="button" id="palabra" ></i>

  </div>

<div class="table-wrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Servicio</th>
          <th>Usuario</th>
          <th>Fecha Inicio</th>
          <th>Hora</th>
          <th>Pedido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos |filter:term">
          <td>{{pedido.nombre}}</td>
          <td>{{pedido.usuario}}</td>
          <td>{{pedido.fechaInicio}}</td>
          <td>{{pedido.horaInicio}}</td>
          <td>${{pedido.total}}</td>
        </tr>
        
        
      </tbody>
    </table>
  </div>

