<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
 

</head>
<div>
    <div class="carousel">
      <ul class="slides">
        <input type="radio" name="radio-buttons" id="img-1" checked />
        <li class="slide-container">
          <div class="slide-image">
            <img src="/assets/img/img1.jpg">
          </div>
          <div class="carousel-controls">
            <label for="img-3" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-2" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-2" />
        <li class="slide-container">
          <div class="slide-image">
            <img src="/assets/img/img2.jpg">
          </div>
          <div class="carousel-controls">
            <label for="img-1" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-3" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-3" />
        <li class="slide-container">
          <div class="slide-image">
            <img src="/assets/img/img3.jpg">
          </div>
          <div class="carousel-controls">
            <label for="img-2" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-1" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <div class="carousel-dots">
          <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
          <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
          <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
        </div>
      </ul>
    </div>
  </div>
<body>
 
    <main>
        <section>
          <ul id="solo tocar del <li> para abajo">
            <li class="booking-card" style="margin-top: 5%;"
              style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
              <div class="book-container">
                <div class="content">
                  <button class="btn" style="border-radius: 15px 5px 15px 5px">Contratar Servicio</button>
                </div>
              </div>
              <div class="informations-container">
                <p class="title" id="nombre" style="font-size: 15px;">Nombre del Weon del Servicio</p>
                <h2 class="sub-title" id="descripcion" style="font-size: 15px;">*oferzco mis servicios para la reaparacion de
                  utelcilios delectronicos como lo serian
                  refrigeradoras o lavadoras*</h2>
      
                <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" id="precio"
                      d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                  </svg>$ 5 peso</p>
      
                <div class="more-information">
                  <div class="info-and-date-container">
                    <div class="box info">
                      <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                          d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                      </svg>
                      <p>Disponible</p>
                      <br>
                    </div>
                    <div class="box date">
                      <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label for="radio5">★</label>
                        </p>
                      </form>
                      <p>Calificacion</p>
                    </div>
                  </div>
                  <p class="disclaimer">La empresa no se hace responsable si el susodicho personal le webea las cosas o le
                    arruina las cosas que se suponia debia arreglar</p>
                </div>
      
              </div>
            </li>
            <li class="booking-card" style="margin-top: 5%;"
              style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
              <div class="book-container">
                <div class="content">
                  <button class="btn" style="border-radius: 15px 5px 15px 5px">Contratar Servicio</button>
                </div>
              </div>
              <div class="informations-container">
                <p class="title" id="nombre" style="font-size: 15px;">Nombre del Weon del Servicio</p>
                <h2 class="sub-title" id="descripcion" style="font-size: 15px;">*oferzco mis servicios para la reaparacion de
                  utelcilios delectronicos como lo serian
                  refrigeradoras o lavadoras*</h2>
      
                <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" id="precio"
                      d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                  </svg>$ 5 peso</p>
      
                <div class="more-information">
                  <div class="info-and-date-container">
                    <div class="box info">
                      <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                          d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                      </svg>
                      <p>Disponible</p>
                      <br>
                    </div>
                    <div class="box date">
                      <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label for="radio5">★</label>
                        </p>
                      </form>
                      <p>Calificacion</p>
                    </div>
                  </div>
                  <p class="disclaimer">La empresa no se hace responsable si el susodicho personal le webea las cosas o le
                    arruina las cosas que se suponia debia arreglar</p>
                </div>
      
              </div>
            </li><li class="booking-card" style="margin-top: 5%;"
            style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
            <div class="book-container">
              <div class="content">
                <button class="btn" style="border-radius: 15px 5px 15px 5px">Contratar Servicio</button>
              </div>
            </div>
            <div class="informations-container">
              <p class="title" id="nombre" style="font-size: 15px;">Nombre del Weon del Servicio</p>
              <h2 class="sub-title" id="descripcion" style="font-size: 15px;">*oferzco mis servicios para la reaparacion de
                utelcilios delectronicos como lo serian
                refrigeradoras o lavadoras*</h2>
    
              <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" id="precio"
                    d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                </svg>$ 5 peso</p>
    
              <div class="more-information">
                <div class="info-and-date-container">
                  <div class="box info">
                    <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="currentColor"
                        d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                    </svg>
                    <p>Disponible</p>
                    <br>
                  </div>
                  <div class="box date">
                    <form>
                      <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5"><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                        --><label for="radio5">★</label>
                      </p>
                    </form>
                    <p>Calificacion</p>
                  </div>
                </div>
                <p class="disclaimer">La empresa no se hace responsable si el susodicho personal le webea las cosas o le
                  arruina las cosas que se suponia debia arreglar</p>
              </div>
    
            </div>
          </li>
          <li class="booking-card" style="margin-top: 5%;"
              style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
              <div class="book-container">
                <div class="content">
                  <button class="btn" style="border-radius: 15px 5px 15px 5px">Contratar Servicio</button>
                </div>
              </div>
              <div class="informations-container">
                <p class="title" id="nombre" style="font-size: 15px;">Nombre del Weon del Servicio</p>
                <h2 class="sub-title" id="descripcion" style="font-size: 15px;">*oferzco mis servicios para la reaparacion de
                  utelcilios delectronicos como lo serian
                  refrigeradoras o lavadoras*</h2>
      
                <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" id="precio"
                      d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                  </svg>$ 5 peso</p>
      
                <div class="more-information">
                  <div class="info-and-date-container">
                    <div class="box info">
                      <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                          d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                      </svg>
                      <p>Disponible</p>
                      <br>
                    </div>
                    <div class="box date">
                      <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label for="radio5">★</label>
                        </p>
                      </form>
                      <p>Calificacion</p>
                    </div>
                  </div>
                  <p class="disclaimer">La empresa no se hace responsable si el susodicho personal le webea las cosas o le
                    arruina las cosas que se suponia debia arreglar</p>
                </div>
      
              </div>
            </li>
            <li class="booking-card" style="margin-top: 5%;"
              style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
              <div class="book-container">
                <div class="content">
                  <button class="btn" style="border-radius: 15px 5px 15px 5px">Contratar Servicio</button>
                </div>
              </div>
              <div class="informations-container">
                <p class="title" id="nombre" style="font-size: 15px;">Nombre del Weon del Servicio</p>
                <h2 class="sub-title" id="descripcion" style="font-size: 15px;">*oferzco mis servicios para la reaparacion de
                  utelcilios delectronicos como lo serian
                  refrigeradoras o lavadoras*</h2>
      
                <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" id="precio"
                      d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                  </svg>$ 5 peso</p>
      
                <div class="more-information">
                  <div class="info-and-date-container">
                    <div class="box info">
                      <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                          d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                      </svg>
                      <p>Disponible</p>
                      <br>
                    </div>
                    <div class="box date">
                      <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label for="radio5">★</label>
                        </p>
                      </form>
                      <p>Calificacion</p>
                    </div>
                  </div>
                  <p class="disclaimer">La empresa no se hace responsable si el susodicho personal le webea las cosas o le
                    arruina las cosas que se suponia debia arreglar</p>
                </div>
      
              </div>
            </li>
            <li class="booking-card" style="margin-top: 5%;"
            style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
            <div class="book-container">
              <div class="content">
                <button class="btn" style="border-radius: 15px 5px 15px 5px">Contratar Servicio</button>
              </div>
            </div>
            <div class="informations-container">
              <p class="title" id="nombre" style="font-size: 15px;">Nombre del Weon del Servicio</p>
              <h2 class="sub-title" id="descripcion" style="font-size: 15px;">*oferzco mis servicios para la reaparacion de
                utelcilios delectronicos como lo serian
                refrigeradoras o lavadoras*</h2>
    
              <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" id="precio"
                    d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                </svg>$ 5 peso</p>
    
              <div class="more-information">
                <div class="info-and-date-container">
                  <div class="box info">
                    <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="currentColor"
                        d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                    </svg>
                    <p>Disponible</p>
                    <br>
                  </div>
                  <div class="box date">
                    <form>
                      <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5"><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                        --><label for="radio5">★</label>
                      </p>
                    </form>
                    <p>Calificacion</p>
                  </div>
                </div>
                <p class="disclaimer">La empresa no se hace responsable si el susodicho personal le webea las cosas o le
                  arruina las cosas que se suponia debia arreglar</p>
              </div>
    
            </div>
          </li>
          <li class="booking-card" style="margin-top: 5%;"
            style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
            <div class="book-container">
              <div class="content">
                <button class="btn" style="border-radius: 15px 5px 15px 5px">Contratar Servicio</button>
              </div>
            </div>
            <div class="informations-container">
              <p class="title" id="nombre" style="font-size: 15px;">Nombre del Weon del Servicio</p>
              <h2 class="sub-title" id="descripcion" style="font-size: 15px;">*oferzco mis servicios para la reaparacion de
                utelcilios delectronicos como lo serian
                refrigeradoras o lavadoras*</h2>
    
              <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" id="precio"
                    d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                </svg>$ 5 peso</p>
    
              <div class="more-information">
                <div class="info-and-date-container">
                  <div class="box info">
                    <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="currentColor"
                        d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                    </svg>
                    <p>Disponible</p>
                    <br>
                  </div>
                  <div class="box date">
                    <form>
                      <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5"><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                        --><label for="radio5">★</label>
                      </p>
                    </form>
                    <p>Calificacion</p>
                  </div>
                </div>
                <p class="disclaimer">La empresa no se hace responsable si el susodicho personal le webea las cosas o le
                  arruina las cosas que se suponia debia arreglar</p>
              </div>
    
            </div>
          </li>
          <li class="booking-card" style="margin-top: 5%;"
          style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
          <div class="book-container">
            <div class="content">
              <button class="btn" style="border-radius: 15px 5px 15px 5px">Contratar Servicio</button>
            </div>
          </div>
          <div class="informations-container">
            <p class="title" id="nombre" style="font-size: 15px;">Nombre del Weon del Servicio</p>
            <h2 class="sub-title" id="descripcion" style="font-size: 15px;">*oferzco mis servicios para la reaparacion de
              utelcilios delectronicos como lo serian
              refrigeradoras o lavadoras*</h2>
  
            <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" id="precio"
                  d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
              </svg>$ 5 peso</p>
  
            <div class="more-information">
              <div class="info-and-date-container">
                <div class="box info">
                  <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                  </svg>
                  <p>Disponible</p>
                  <br>
                </div>
                <div class="box date">
                  <form>
                    <p class="clasificacion">
                      <input id="radio1" type="radio" name="estrellas" value="5"><!--
                      --><label for="radio1">★</label><!--
                      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                      --><label for="radio2">★</label><!--
                      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                      --><label for="radio3">★</label><!--
                      --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                      --><label for="radio4">★</label><!--
                      --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                      --><label for="radio5">★</label>
                    </p>
                  </form>
                  <p>Calificacion</p>
                </div>
              </div>
              <p class="disclaimer">La empresa no se hace responsable si el susodicho personal le webea las cosas o le
                arruina las cosas que se suponia debia arreglar</p>
            </div>
  
          </div>
        </li>
          </ul>
        </section>
      </main>



      

     
 </body>

</html>




