<html>


<body>
  <div class="header" style="background-color:black;">
    
    <div class="search-bar" style="margin-left: 8%;">
      <input type="text" placeholder="Buscar..."> <i type="button" id="palabra" ></i>

    </div>
    <div class="contenedor-redes-sociales">
      <a class="facebook" href="/homev" target="">
        
        <span class="titulo">Eres Comprador </span>
        <span class="titulo-hover">Ser Vendedor</span>
      </a>
   </div>
  </div>
  <div class="area"></div>
  <nav class="main-menu">
    <ul>      
      <li>
        <br/>
        <br/>
        <br/>
        <a href="">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Principal
          </span>
        </a>

      </li>
      <br/>
      
    
      <li class="has-subnav">
        <a href="/historials">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Pedidos
          </span>
        </a>

      </li>
      <br/>

      <!--<li>
        <a [routerLink]="['/perfil/', Usuario.idUsuario]">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
             Perfil
          </span>
        </a>
      </li>   -->    
  
      <li>
        <!--<a href="/perfil/i">-->
        <a [routerLink]="['/perfil']">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
             Perfil
          </span>
        </a>
      </li>       
    </ul>
    <ul class="logout">
      <li>
        <a href="/login">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
</body>
</html>

<router-outlet>

</router-outlet>