



      <div class="area"></div>
      <nav class="main-menu">
        <ul>      
          <li>
            <br/>
            <br/>
            <br/>
            <a href="/homev">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                Principal
              </span>
            </a>
          </li>
          <br/>
          
        
          <li class="has-subnav">
            <a href="/servicio">
              <i class="fa fa-folder-open fa-2x"></i>
              <span class="nav-text">
                Crear Servicio
              </span>
            </a>
    
          </li>
          <br/>    
          <li class="has-subnav">
            <a href="/verserviciov">
              <i class="fa fa-folder fa-2x"></i>
              <span class="nav-text">
                Soicitados
              </span>
            </a>
          </li>
          <br/>
          <li class="has-subnav">
            <a href="/verservicioc">
              <i class="fa fa-folder fa-2x"></i>
              <span class="nav-text">
                Creados
              </span>
            </a>
          </li>
          <br/>
          <li>
            <a href="/perfil">
              <i class="fa fa-user fa-2x"></i>
              <span class="nav-text">
                 Perfil
              </span>
            </a>
          </li>       
        </ul>
        <ul class="logout">
          <li>
            <a href="/login">
              <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                Logout
              </span>
            </a>
          </li>
        </ul>
      </nav>
    
    
    
    
   
    
    
<br/>
<!-- <div class="alert alert-success" role="alert">
    Tabla de Servicios Creados
  </div> -->

  <div class="search-bar" style="margin-left: 8%;">
    <input type="text" placeholder="Buscar..." [(ngModel)]="term"> <i type="button" id="palabra" ></i>

  </div>

<div class="table-wrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>precio</th>
          <th>Calificación</th>
          <th>Estado</th>
          <th>Actualizar/Eliminar</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servicio of servicios |filter:term">
          <td>{{servicio.nombre}}</td>
          <td>{{servicio.descripcion}}</td>
          <td>${{servicio.precio}}</td>
          <td *ngIf="servicio.calificacion>=1">{{servicio.calificacion}}</td>
          <td *ngIf="servicio.calificacion<=0">N/A</td>
          <td *ngIf="servicio.disponible">Disponible</td>
          <td *ngIf="!servicio.disponible">Deshabilitado</td>
          <th>
          <a role="button" href="/actuaS" id="btn6" class="btn btn-enlace" style="color:white">Actualizar</a>
          <a role="button"  id="btn6" class="btn btn-elim " style="color:white" *ngIf="servicio.disponible" (click)="eliminar(servicio.idServicio)">Deshabilitar</a>
          <a role="button"  id="btn6" class="btn btn-elim " style="color:white" *ngIf="!servicio.disponible" (click)="Habilitar(servicio.idServicio)">Habilitar</a>
          </th>
        </tr>
        
        
      </tbody>
    </table>
  </div>

