<head>

  <link rel="stylesheet" href="/uberservicio/src/app/home/home.component.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<div class="container">

  <br/>
 <!--  <div class="alert alert-success" role="alert">
    Agregando un Nuevo Usuario 
  </div> -->
  <br/>
  <br/>
  
  <div class="container">

      <form id="login-form" *ngFor='let servicio of servicios'>
        
        <div class="form-container sign-in-container">
          <img id="urlImage" src="/assets/img/Servicios/{{servicio.Imagenes[0].url}}"  class="img-thumbnail" width="400" height="400">
  
        </div>
  
  
        <div class="overlay-container">
  
          <h5 id="iddetalle" style="font-weight:initial;">{{servicio.nombre}}</h5>
          <form>
            <p class="clasificacion">
              <input id="radio1" type="radio" name="estrellas" value="5">
              <!--
                --><label id="star" for="radio1"  [ngStyle]="{'color': servicio.calificacion >= 5  ? 'orange' : 'grey' }"  >★</label>
              <!--
                --><input id="radio2" type="radio" name="estrellas" value="4">
              <!--
                --><label for="radio2" [ngStyle]="{'color': servicio.calificacion >= 4  ? 'orange' : 'grey' }">★</label>
              <!--
                --><input id="radio3" type="radio" name="estrellas" value="3">
              <!--
                --><label for="radio3" [ngStyle]="{'color': servicio.calificacion >= 3  ? 'orange' : 'grey' }">★</label>
              <!--
                --><input id="radio4" type="radio" name="estrellas" value="2">
              <!--
                --><label for="radio4" [ngStyle]="{'color': servicio.calificacion >= 2  ? 'orange' : 'grey' }" >★</label>
              <!--
                --><input id="radio5" type="radio" name="estrellas" value="1">
              <!--
                --><label for="radio5"   [ngStyle]="{'color': servicio.calificacion >= 1  ? 'orange' : 'grey' }"  >★</label>
            </p>
          </form>
          <h5 id="descServicio">
            {{servicio.descripcion}} 
          </h5>

          
  
  <br/>
          <div style="text-align: left ; padding-top: 2%;">
            <b style="font-weight:lighter; font-size: 20px; " id="precioProducto">Precio por servicio: $  {{servicio.precio}}</b>
           
           
          </div>        
          <br/>
          <div class="col-xs-6 col-md-12" data-toggle="modal" data-target="#exampleModalCenter">
              <a class="btn btn-success">Contratar servicio</a>
            </div>       
        </div>
      </form>
    </div> 
</div>
<br/>
<br/>
<br/>
<br>
<br/>
<!-- coments-->
<div class="container my-5">
  <div class="shadow-4 rounded-5 overflow-hidden">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>User</th>
          <th>Comentario</th>
          <th></th>
          <th></th>

          <th>Puntuacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let comentario of comentarios'>
          <td>
            <div class="d-flex align-items-center">
              <img src="/assets/img/{{comentario.urlFoto}}" alt="" style="width: 45px; height: 45px"
                class="rounded-circle" />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{comentario.nombre}}</p>
                <p class="text-muted mb-0">{{comentario.correo}}</p>
              </div>
            </div>
          </td>
          <td>{{comentario.comentario}}</td>
          <td></td>
          <td></td>
          <td>
          <div class="box date">
            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5">
                <!--
                  --><label id="star" for="radio1"  [ngStyle]="{'color': comentario.calificacion >= 5  ? 'orange' : 'grey' }"  >★</label>
                <!--
                  --><input id="radio2" type="radio" name="estrellas" value="4">
                <!--
                  --><label for="radio2" [ngStyle]="{'color': comentario.calificacion >= 4  ? 'orange' : 'grey' }">★</label>
                <!--
                  --><input id="radio3" type="radio" name="estrellas" value="3">
                <!--
                  --><label for="radio3" [ngStyle]="{'color': comentario.calificacion >= 3  ? 'orange' : 'grey' }">★</label>
                <!--
                  --><input id="radio4" type="radio" name="estrellas" value="2">
                <!--
                  --><label for="radio4" [ngStyle]="{'color': comentario.calificacion >= 2  ? 'orange' : 'grey' }" >★</label>
                <!--
                  --><input id="radio5" type="radio" name="estrellas" value="1">
                <!--
                  --><label for="radio5"   [ngStyle]="{'color': comentario.calificacion >= 1  ? 'orange' : 'grey' }"  >★</label>
                  
                </p>
              
            </form>
            
          </div>
        </td>
        </tr>
        
      
        <div class="col-xs-12 col-md-6" data-toggle="modal" data-target="#exampleModalCenter2">
          <a class="btn btn-success">Agregar Comentario</a>
        </div>
        <div class="col-xs-12 col-md-6" data-toggle="modal" data-target="#exampleModalCenter3">
          <a class="btn btn-success">Actualizar Comentario</a>
        </div>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Datos del pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-xs-12 col-md-12">
          <label for="start">Fecha Inicio:</label>
          <br />
          <input type="date" id="start" name="fecha-inic" value="" min="" max="" [(ngModel)]='inputFechaInicio'/>
        </div>
        <div class="col-xs-12 col-md-12">
          <label for="start">Fecha Fin:</label>
          <br />
          <input type="date" id="start" name="fecha-fin" value="" min="" max="" [(ngModel)]='inputFechaFin'>
        </div>

        <div class="col-xs-12 col-md-12">
          <label for="start">Hora a solicitar:</label>
          <br />
          <input type="time" name="hora" min="18:00" max="21:00" step="3600" [(ngModel)]='inputHoraInicio' />
        </div>
        <div class="col-xs-12 col-md-12">
          <label for="start">Hora a finalizar:</label>
          <br />
          <input type="time" name="hora" min="18:00" max="21:00" step="3600" [(ngModel)]='inputHoraFin'/>
        </div>

        <div class="col-xs-12 col-md-12">
          <label for="start">Su total por servicio es: </label>
          <br />
          <label for="start">$ {{inputPrecio}}</label>
        </div>
        <div class="col-xs-12 col-md-6">
          <label class="form-label">Elija su forma de pago: </label>

          <select name="idUsuario" style="width: 90%;" class="form-select" [(ngModel)]="opcionSeleccionado" (change)="monedaCambio()" required>
           

            <option  selected [value]="1">Dolares $</option>

            <option [value]="2">Euros €</option>

            <option [value]="3">Bitcoin ₿</option>

          </select>
        </div>
        <div class="col-xs-12 col-md-12">
          <label for="start">Su conversion es: </label>
          <br />
          <label for="">{{simbolo}} {{total}}</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="agregarPedido()">Realizar Pedido</button>
      </div>
    
    </div>
  </div>
</div>
<!--MODAL2-->

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" *ngFor='let persona of personas'>
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Comentario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="col-xs-12 col-md-12">
          <label for="start">Usuario: {{persona.nombre}}</label>
          <br />
          <label for="start"></label>
        </div>
        <div class="col-xs-12 col-md-12">
          <label for="start">Escribe un nuevo comentario del Servicio:</label>
          <br />
          <input type="text" style="width: 90%;" class="form-control" name="user" value=""
            placeholder="Escribe tu comentario..." [(ngModel)]='inputComentario' >
        </div>
        <div class="col-xs-12 col-md-6">
          <label class="form-label">Calificacion del Servicio </label>

          <div class="box date">
            <form >
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5" >
                <!--
                --><label id="star" for="radio1" (click)="calificacion(5)"  [ngStyle]="{'color': califi >= 5  ? 'orange' : 'grey' }">★</label>
                <!--
                --><input id="radio2" type="radio" name="estrellas" value="4" >
                <!--
                --><label for="radio2" (click)="calificacion(4)"  [ngStyle]="{'color': califi >= 4  ? 'orange' : 'grey' }">★</label>
                <!--
                --><input id="radio3" type="radio" name="estrellas" value="3" >
                <!--
                --><label for="radio3" (click)="calificacion(3)"   [ngStyle]="{'color': califi >= 3  ? 'orange' : 'grey' }">★</label>
                <!--
                --><input id="radio4" type="radio" name="estrellas" value="2">
                <!--
                --><label for="radio4"  (click)="calificacion(2)"  [ngStyle]="{'color': califi >= 2  ? 'orange' : 'grey' }">★</label>
                <!--
                --><input id="radio5" type="radio" name="estrellas" value="1" >
                <!--
                --><label for="radio5" (click)="calificacion(1)"  [ngStyle]="{'color': califi >= 1  ? 'orange' : 'grey' }">★</label>
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" *ngIf='inputComentario' data-dismiss="modal" (click)="agregarComentario()">Realizar Comentario</button>
      </div>
    
    </div>
  </div>
</div>


<!--MODAL3-->

<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Actualizar Comentario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-xs-12 col-md-12">
          <label for="start">Usuario: </label>
          <br />
          <label for="start"></label>
        </div>
        <div class="col-xs-12 col-md-12">
          <label for="start">Escribe una actualizacion de comentario del Servicio:</label>
          <br />
          <input type="text" style="width: 90%;" class="form-control" name="user" value=""
            placeholder="Escribe tu comentario...">
        </div>

        <div class="col-xs-12 col-md-6">
          <label class="form-label">Calificacion del Servicio </label>

          <div class="box date">
            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5">
                <!--
                --><label id="star" for="radio1">★</label>
                <!--
                --><input id="radio2" type="radio" name="estrellas" value="4">
                <!--
                --><label for="radio2">★</label>
                <!--
                --><input id="radio3" type="radio" name="estrellas" value="3">
                <!--
                --><label for="radio3">★</label>
                <!--
                --><input id="radio4" type="radio" name="estrellas" value="2">
                <!--
                --><label for="radio4">★</label>
                <!--
                --><input id="radio5" type="radio" name="estrellas" value="1">
                <!--
                --><label for="radio5">★</label>
              </p>
            </form>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Actualizar comentario</button>
      </div>
    </div>
  </div>
</div>








<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Datos del pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-xs-12 col-md-12">
          <label for="start">Fecha Inicio:</label>
          <br />
          <input type="date" id="start" name="fecha-inic" value="" min="" max="">
        </div>
        <div class="col-xs-12 col-md-12">
          <label for="start">Fecha Fin:</label>
          <br />
          <input type="date" id="start" name="fecha-fin" value="" min="" max="">
        </div>

        <div class="col-xs-12 col-md-12">
          <label for="start">Hora a solicitar:</label>
          <br />
          <input type="time" name="hora" min="18:00" max="21:00" step="3600" />
        </div>
        <div class="col-xs-12 col-md-12">
          <label for="start">Hora a finalizar:</label>
          <br />
          <input type="time" name="hora" min="18:00" max="21:00" step="3600" />
        </div>

        <div class="col-xs-12 col-md-12">
          <label for="start">Su total por servicio es: </label>
          <br />
          <label for="start">$</label>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Realizar Pedido</button>
      </div>
    </div>
  </div>
</div>
