
<html>


<body>
  <div class="header" style="background-color:black;">
    
    <div class="search-bar" style="margin-left: 8%;">
      <input type="text" placeholder="Buscar..."> <i type="button" id="palabra" ></i>

    </div>
    <div class="contenedor-redes-sociales">
        <a class="facebook" href="" target="">
          
          <span class="titulo">Eres Vendedor </span>
          <span class="titulo-hover">Ser Comprador</span>
        </a>
     </div>
  </div>
  <div class="area"></div>
  <nav class="main-menu">
    <ul>    
      <li>
        <br/>
        <br/>
        <br/>
        <a href="">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Principal
          </span>
        </a>

      </li>
      <br/>
      
      <li class="has-subnav">
        <a href="/login">
          <i class="fa fa-file fa-2x"></i>
        
          <span class="nav-text">
           Crear Usuario
          </span>
        </a>

      </li>
      
      <br/>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Pedidos
          </span>
        </a>

      </li>
      <br/>
      
      <li class="has-subnav">
        <a href="/categoria">
          <i class="fa fa-bars fa-2x"></i>
          <span class="nav-text">
            Categorias
          </span>
        </a>

      </li>
      <br/>
      
      <li>
        <a href="/servicio">
          <i class="fa fa-wrench fa-2x"></i>
         
          <span class="nav-text">
            Servicios
          </span>
        </a>
      </li>
      <br/>    
      <li>
        <a href="#">
          <i class="fa fa-money fa-2x"></i>
          <span class="nav-text">
             Conversion
          </span>
        </a>
      </li> 
      <br/>    
      <li>
        <a href="#">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
             Perfil
          </span>
        </a>
      </li>       
    </ul>

    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav> 
</body>
</html>

