

<head>
  
  <script type="text/javascript" src="login.js"></script>
  <link href="persona.component.css" rel="stylesheet" type="text/css">
  
  </head>
<body>
<br>
<br><br><br>
  <!--form area start-->
  <div class="form">
    <!--login form start-->
    <form class="login-form" action="" method="post">
      <i class="fa fa-user fa-2x"></i>
      <input class="user-input" type="text" name="" placeholder="Nombre" required>
      <input class="user-input" type="text" name="" placeholder="Apellido" required>
      <input class="user-input" type="text" name="" placeholder="Telefono" required>
      
      <input class="user-input" type="text" name="" placeholder="Correo" required>
      <input class="user-input" type="text" name="" placeholder="User" required>
      <input class="user-input" type="password" name="" placeholder="Password" required>
      <div class="col-xs-12 col-md-12">
        <label class="form-label" style="color: white;">Fotos de la persona</label>
        <br/>
        <input name=" " type="file" />
      </div>
      
      <div class="col-xs-12 col-md-12">
        <label class="form-label" style="color: white;">Que desea ser? </label>

        <select name="idCategoria" style="width: 100%;" class="form-select" required>
          <option class="option" id="idCategoria">Debes Seleccionar...</option>

          <option value="">Comprador</option>

          <option value="">Vendedor</option>

        </select>
      </div>
      <div class="options-01">
        
      </div>
      <input class="btn" type="submit" name="" value="Registrate">
      <div class="options-02 a">
        <p>Volver a Login <a href="/login">Login</a></p>
      </div>
    </form>
    <!--login form end-->
    <!--signup form start-->
    <form class="signup-form" action="" method="post">
      <i class="fas fa-user-plus"></i>
      <input class="user-input" type="text" name="" placeholder="Username" required>
      <input class="user-input" type="email" name="" placeholder="Email Address" required>
      <input class="user-input" type="password" name="" placeholder="Password" required>
      <input class="btn" type="submit" name="" value="SIGN UP">
      <div class="options-02">
        <p>Already Registered? <a href="#">Sign In</a></p>
      </div>
    </form>
    <!--signup form end-->

    <br>
    <br>
    
  </div>
  <!--form area end-->

</body>