<div class="container">

    <br/>
    <div class="alert alert-success" role="alert">
      Agregando datos de Persona
    </div>
    <br/>
    <br/>
    
    <form class="row g-3" enctype="multipart/form-data" action="" method="post" autocomplete="off">

        <div class="col-xs-12 col-md-6">
            <label class="form-label">Su usuario </label>
    
            <select name="idCategoria" style="width: 90%;" class="form-select" required>
              <option class="option" id="idCategoria">Debes Seleccionar tu User</option>
    
              <option value="">usuario x</option>
    
              <option value="">usuario y</option>
    
            </select>
          </div>
 
      <div class="col-xs-12 col-md-12">
        <label class="form-label">Nombre</label>
        <input type="text" style="width: 90%;" class="form-control" name="correo" value="" required>
      </div>

      <div class="col-xs-12 col-md-12">
        <label class="form-label">Apellido</label>
        <input type="text" style="width: 90%;" class="form-control" name="user" value="" required>
      </div>

      <div class="col-xs-12 col-md-12">
        <label class="form-label">Telefono</label>
        <input type="text" style="width: 90%;" class="form-control" name="pass" value="" required>
      </div>

      <div class="col-xs-12 col-md-12">
        <label class="form-label">Foto de persona</label>
        <br/>
        <input name="uploadedfile" type="file" />
      </div>
      <div class="col-xs-6 col-md-12">
        <button class="btn btn-success" type="submit">Agregar Persona</button>
      </div>
    </form>

    
  </div>
